{% extends 'dummy.html' %}
    
    {% block title%}
    <title>registration</title>
    {% endblock%}
    
  </head>
  <body>
    
    
      {% block body_block %}
      <center style="background-color:CadetBlue;">
        <h1>registration Form</h1>
        <form method="POST" enctype="multipart/form-data">
        
            {% csrf_token %}

            {{ ufo.as_p }}
            {{ pfo.as_p }}

        <input type="submit" value="register">
        
        </form>
      </center>
        {% endblock %}
        
